<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>

    <ion-title>{{ users }}</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">{{ users }}</ion-title>
    </ion-toolbar>
  </ion-header>

  <ion-grid>
    <ion-row>
      <ion-col *ngFor="let usuario of usuarios" size="12" size-md="4">
        <ion-card>
          <ion-card-header>
            <ion-card-title>
              <ion-item>
                <ion-avatar slot="start">
                  <img
                    src="https://gravatar.com/avatar/dba6bae8c566f9d4041fb9cd9ada7741?d=identicon&f=y"
                  />
                </ion-avatar>
                <ion-label>
                  <h2>{{usuario.name}}</h2>
                  <h3>{{usuario.email}}</h3>
                  <p *ngIf="usuario.canal_venta">{{usuario.canal_venta}}</p>
                </ion-label>
              </ion-item>
            </ion-card-title>
          </ion-card-header>

          <ion-card-content>
            <div>
              <ion-button
                color="primary"
                [routerLink]="['/','users','edit',usuario.id]"
                >Editar</ion-button
              >
              <ion-button color="danger" (click)="deleteUser(usuario.id)"
                >Eliminar</ion-button
              >
            </div>
          </ion-card-content>
        </ion-card>
      </ion-col>
    </ion-row>
  </ion-grid>

  <ion-fab vertical="bottom" horizontal="end" slot="fixed">
    <ion-fab-button routerLink="/form-user">
      <ion-icon name="add"></ion-icon>
    </ion-fab-button>
  </ion-fab>
</ion-content>
