<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/users/Usuarios"></ion-back-button>
    </ion-buttons>

    <ion-title>{{editing ? 'Editar' : 'Crear'}} Usuario</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-grid>
    <ion-row>
      <ion-col size="12" size-md="6" offset-md="4">
        <ion-card>
          <ion-card-header>
            <ion-card-title>
              {{editing ? 'Editar' : 'Crear un nuevo'}} usuario
            </ion-card-title>
          </ion-card-header>

          <ion-card-content>
            <ion-item>
              <ion-label position="floating">Nombre</ion-label>
              <ion-input [(ngModel)]="user.name" required></ion-input>
            </ion-item>

            <ion-item>
              <ion-label position="floating">Email</ion-label>
              <ion-input
                [(ngModel)]="user.email"
                type="email"
                required
              ></ion-input>
            </ion-item>

            <ion-item>
              <ion-label position="floating">Contraseña</ion-label>
              <ion-input
                [(ngModel)]="user.password"
                type="password"
                required
              ></ion-input>
            </ion-item>

            <ion-item>
              <ion-label position="floating">Canal Venta</ion-label>
              <ion-input [(ngModel)]="user.canal_venta"></ion-input>
            </ion-item>

            <ion-button
              color="primary"
              expand="full"
              (click)="editing ? updateUser() : saveUser()"
            >
              {{editing ? 'Actualizar' : 'Guardar'}}
            </ion-button>
          </ion-card-content>
        </ion-card>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
